@page
@model PIMHotelaria.Pages.Reservas.DeleteModel

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Você tem certeza de quer deletar isso?</h3>
<div>
    <h4>Reservas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservas.dt_Entrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservas.dt_Entrada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservas.dt_Saida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservas.dt_Saida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservas.num_Pessoas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservas.num_Pessoas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservas.mtd_Acesso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservas.mtd_Acesso)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reservas.ID" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volte ao topo.</a>
    </form>
</div>
