@page
@model PIMHotelaria.Pages.Reservas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div><img src="img/BP.ico" alt="Alternate Text" /></div>

<p>
    <a asp-page="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservas[0].dt_Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservas[0].dt_Saida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservas[0].num_Pessoas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservas[0].mtd_Acesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dt_Entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dt_Saida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_Pessoas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mtd_Acesso)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
